<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% for number in numbers %}
    <li>{{ number }}</li>
    {% endfor %}
    <div>
        <form action="generateNumbers" method="POST">
            {% csrf_token %}
            <label for="startPoint">Enter Starting Point: </label>
            <input type="text" name="startPoint" id="startPoint">
            <br>
            <label for="endPoint">Enter Ending Point: </label>
            <input type="text" name="endPoint" id="endPoint">
            <br>
            <button type="submit">Submit</button>
            {% for message in messages %}
                <h3>{{message}}</h3>
            {% endfor %}
        </form>
    </div>
</body>

</html>